In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from sqlalchemy import create_engine
import sqlite3

# Creating a dictionary

In [318]:
from os import walk, path
dic_csv = {}
df_var = {} 
for root,d_names,f_names in walk("./data/"):
    for f in f_names:
        filename = f.rsplit('.', 1)[0]
        dic_csv[path.join(root, f)] = ('processed_' + filename) if ('processed' in root) else filename

In [319]:
def make_df(dic):
    for key in dic:
        df_var[dic[key]] = pd.read_csv(key, delimiter=";")
make_df(dic_csv)

/home/ricardo/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3337: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [320]:
def separate(df, column):
    list = df[column].unique().tolist()
    dic = {}
    for l in list:
        dic[l] = df[df[column]==l]
    return dic

In [321]:
def concat_train_test(dic):
    lis = [d for d in list(dic.values()) if ('test' in d or 'train' in d)]
    train = []
    test = []
    names = []
    for l in lis:
        names.append(l.split("_")[0])
        if (l.split("_")[1] == 'train'):
            train.append(l)
        else:
            test.append(l)
    names = list(set(names))
    
    for n in names:
        t1 = [d for d in train if n in d][0]
        t2 = [d for d in test if n in d][0]
        
        df_var[n] = pd.concat([df_var[t1],df_var[t2]])
concat_train_test(dic_csv)

# Auxiliary functions to process data

In [8]:
from datetime import date

def getDate(d):
    year = 1900+int(str(d)[0:2])
    month = int(str(d)[2:4])
    gender = 'M' if (month < 50) else 'F'
    month = month if (month < 50) else month - 50
    day = int(str(d)[4:6])
    return {'year': year, 'month': month, 'day': day, 'gender': gender}

def getGender(df):
    list = []
    for row in df.itertuples(index = True):
        d = getDate(row.birth_number)
        birth_number = row.birth_number 
        if (d['gender'] == 'F'):
            birth_number -= 5000
        list.append([row.client_id, birth_number, d['gender'], row.district_id])
    
    return pd.DataFrame(list, columns=['client_id', 'birth_number', 'gender', 'district_id'])

print(getGender(df_var['client']))

      client_id  birth_number gender  district_id
0             1        701213      F           18
1             2        450204      M            1
2             3        401009      F            1
3             4        561201      M            5
4             5        600703      F            5
...         ...           ...    ...          ...
5364      13955        451030      F            1
5365      13956        430406      M            1
5366      13968        680413      M           61
5367      13971        621019      F           67
5368      13998        530812      F           74

[5369 rows x 4 columns]

In [ ]:
def date_range(df,min_year, max_year):

In [9]:
def getColumns(df):
    sum = 0
    for key in df:
        if not 'train' in key and not 'test' in key:
            print('{} -> {}'.format(key, len(df_var[key].columns)))
            print('{}\n'.format(df_var[key].columns))

            sum = sum + len(df_var[key].columns)
    print(sum)

In [238]:
#credit in cash', 'collection from another bank', nan,'withdrawal in cash', 'remittance to another bank',
#       'credit card withdrawal'

def n_credit_cash(col):
    return sum(col == 'credit in cash')

def n_collection_from_another_bank(col):
    return sum(col == 'collection from another bank')

def n_withdrawal_in_cash(col):
    return sum(col == 'withdrawal in cash')

def n_remittance_to_another_bank(col):
    return sum(col == 'remittance to another bank')

def n_credit_card_withdrawal(col):
    return sum(col == 'credit card withdrawal')

def n_interest_credited(col):
    return sum(col == 'none')



def n_credit(col):
    return sum(col == 'credit')

def n_withdrawal(col):
    return sum(col == 'withdrawal') + sum(col == 'withdrawal in cash')

# Merging information

In [342]:
# Copying information from dictonary into dataframes

client = df_var['client'].copy()
disp = df_var['disp'].copy()
card = df_var['card'].copy()
loan = df_var['loan'].copy()
account = df_var['account'].copy()
district = df_var['district'].copy()
card = card.rename({'type': 'card_type'}, axis=1)
disp = disp.rename({'type': 'disp_type'}, axis=1)

# Merging informations

merge1 = pd.merge(client, disp[disp['disp_type'] =='OWNER'], on ='client_id')
merge2 = pd.merge(merge1, account, on = 'account_id')
merge3 = pd.merge(merge2, card[['card_id', 'disp_id', 'card_type']], on = 'disp_id', how = 'left')
merge4 = pd.merge(merge3, district, left_on = 'district_id_x', right_on='code')
merge5 = pd.merge(loan, merge4, on = 'account_id')

# Dropping some columns
merge5.drop(['client_id', 'disp_id', 'disp_type', 'card_id', 'code'], axis = 1, inplace = True)

# Renaming columns
merge5.rename({
    'date_x': 'loan_date', 
    'district_id_x': 'client_district', 
    'district_id_y': 'account_district',
    'date_y': 'account_date'
}, axis = 1, inplace = True)

pd.set_option('display.max_columns', None)
merge5

,loan_id,account_id,loan_date,amount,duration,payments,status,birth_number,client_district,account_district,frequency,account_date,card_type,name,region,no. of inhabitants,no. of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate '95,unemploymant rate '96,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes '95,no. of commited crimes '96
0,5314,1787,930705,96396,12,8033,-1.0,475722,30,30,weekly issuance,930322,NaN,Sokolov,west Bohemia,94812,15,13,8,2,10,81.8,9650,3.38,3.67,100,2985,2804
1,5316,1801,930711,165960,36,4610,1.0,680722,46,46,monthly issuance,930213,NaN,Nachod,east Bohemia,112709,48,20,7,3,10,73.5,8369,1.79,2.31,117,2854,2618
2,6863,9188,930728,127080,60,2118,1.0,360602,45,45,monthly issuance,930208,NaN,Jicin,east Bohemia,77917,85,19,6,1,5,53.5,8390,2.28,2.89,132,2080,2122
3,5325,1843,930803,105804,36,2939,1.0,405420,14,12,monthly issuance,930130,NaN,Ceske Budejovice,south Bohemia,177686,69,27,10,1,9,74.8,10045,1.42,1.71,135,6604,6295
4,7240,11013,930906,274740,60,4579,1.0,780907,63,1,weekly issuance,930214,NaN,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,4989,105,981205,352704,48,7348,NaN,506227,21,21,monthly issuance,970710,classic,Tabor,south Bohemia,103347,87,16,7,1,7,67.0,9104,1.51,2.07,123,2299,2354
678,5221,1284,981205,52512,12,4376,NaN,441215,55,55,monthly issuance,970702,NaN,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
679,6402,6922,981206,139488,24,5812,NaN,690904,3,3,weekly issuance,970512,NaN,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
680,5346,1928,981206,55632,24,2318,NaN,481218,70,70,monthly issuance,970302,NaN,Karvina,north Moravia,285387,0,2,8,5,7,89.9,10177,6.63,7.75,81,9878,10108
681,6748,8645,981208,240900,60,4015,NaN,495825,60,60,monthly issuance,970623,NaN,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252

In [344]:
# trans_processed = convertToDate(trans_df,'trans_train','date', False)[['account_id', 'date', 'balance']]
#    trans_processed.sort_values(by = ['account_id', 'date'])
#    t = trans_processed.groupby('account_id').tail(1)

# Processing transactions information 

trans = df_var['trans'].copy()
trans = trans.rename({
    'type': 'trans_type',
    'date': 'trans_date', 
    'amount': 'trans_amount',
    'balance': 'trans_balance'}, axis=1)
trans.sort_values(by = ['account_id', 'trans_date'])
trans.drop(['trans_id', 'k_symbol', 'account', 'bank'], axis=1, inplace = True)

#t = trans.groupby('account_id').tail(1)

# Merging trans with previous information

loan_info = pd.merge(merge5, trans, on = 'account_id')
loan_info.fillna('none', inplace = True)

In [347]:
#Columns that are not going to be changed
cols = loan_info.columns.difference(['trans_date', 'trans_amount', 'trans_balance', 'trans_type', 'operation'], sort = False).tolist()

# Group by operation

l = loan_info.groupby(by = cols, as_index = False).agg({
                    'trans_date': ['min', 'max'],
                    'trans_amount': ['min', 'max', 'mean', 'std', 'last'],
                    'trans_balance': ['min', 'max', 'mean', 'std', 'last'],
                    'trans_type':[n_credit, n_withdrawal],
                    'operation':[n_credit_cash, n_collection_from_another_bank, 
                                 n_withdrawal_in_cash, n_remittance_to_another_bank,
                                 n_credit_card_withdrawal, n_interest_credited]
                })

#Change columns name 
l.columns = ['%s%s' % (level1, '_%s' % level2 if level2 else '') for level1, level2 in l.columns]
l.to_csv('loan_all_info')
l
#l.sort_values(by = ['loan_id'])

,loan_id,account_id,loan_date,amount,duration,payments,status,birth_number,client_district,account_district,frequency,account_date,card_type,name,region,no. of inhabitants,no. of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate '95,unemploymant rate '96,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes '95,no. of commited crimes '96,trans_date_min,trans_date_max,trans_amount_min,trans_amount_max,trans_amount_mean,trans_amount_std,trans_amount_last,trans_balance_min,trans_balance_max,trans_balance_mean,trans_balance_std,trans_balance_last,trans_type_n_credit,trans_type_n_withdrawal,operation_n_credit_cash,operation_n_collection_from_another_bank,operation_n_withdrawal_in_cash,operation_n_remittance_to_another_bank,operation_n_credit_card_withdrawal,operation_n_interest_credited
0,4959,2,940105,80952,24,3373,1,450204,1,1,monthly issuance,930226,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,930226,931231,13.5,30354.0,7954.257407,8793.271132,138.3,1100.0,67529.6,32590.624074,12061.705682,27855.2,22,32,2,10,27,5,0,10
1,4961,19,960429,30276,12,2523,-1,395423,21,21,monthly issuance,950407,none,Tabor,south Bohemia,103347,87,16,7,1,7,67.0,9104,1.51,2.07,123,2299,2354,950407,960410,14.6,22708.0,5856.300000,7074.892542,15139.0,715.0,58157.5,25197.092500,15039.248405,15854.0,46,34,9,13,34,0,0,24
2,4962,25,971208,30276,12,2523,none,620209,68,68,monthly issuance,960728,none,Frydek - Mistek,north Moravia,228848,15,40,18,2,6,57.2,9893,4.09,4.72,96,5623,5887,960728,971206,14.6,62900.0,12113.931098,15599.421240,1110.0,900.0,119652.7,62991.264634,22476.347980,31621.9,51,113,36,0,70,43,0,15
3,4967,37,981014,318480,60,5308,none,520826,20,20,monthly issuance,970818,none,Strakonice,south Bohemia,70646,94,14,3,1,4,58.4,8547,2.65,3.64,120,1563,1542,970818,981012,0.4,47785.0,7571.999138,11817.618787,11200.0,-1011.2,104761.5,39953.970690,23451.647180,16367.8,32,84,18,0,48,36,0,14
4,4968,38,980419,110736,48,2307,none,405130,19,19,weekly issuance,970808,none,Prachatice,south Bohemia,51428,50,11,3,1,4,52.7,8402,3.13,3.98,120,999,1099,970808,980410,30.0,20762.0,4716.194545,5740.517996,231.0,13841.0,55991.1,31383.449091,10950.811533,37416.7,23,32,6,9,19,13,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,7294,11327,980927,39168,24,1632,none,795222,7,7,monthly issuance,971015,none,Melnik,central Bohemia,94725,38,28,1,3,6,63.4,9920,2.26,2.87,130,4289,4846,971015,980913,14.6,30462.0,7977.972222,9278.303148,20308.0,300.0,81495.6,55438.851852,14622.737828,62119.2,23,31,13,0,25,6,0,10
678,7295,11328,980718,280440,60,4674,none,525909,54,54,monthly issuance,961105,none,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696,961105,980709,14.6,61000.0,8138.691509,10870.484261,10921.0,1000.0,102466.2,38619.102830,17484.955759,31303.2,47,59,28,0,59,0,0,19
679,7304,11349,951029,419880,60,6998,1,456030,1,1,weekly issuance,950526,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,950526,951023,39.0,64800.0,24426.472222,22749.020565,300.0,200.0,104039.9,59352.833333,27879.396857,24704.4,11,7,2,5,6,1,0,4
680,7305,11359,960806,54024,12,4502,1,680413,61,61,monthly issuance,941001,classic,Trebic,south Moravia,117897,139,28,5,1,6,53.8,8814,4.76,5.74,107,2112,2059,941001,960731,14.6,40521.0,8708.722449,10938.351222,109.6,1000.0,81705.8,36480.185034,15469.988113,25697.2,45,102,1,22,66,34,2,22
681,7308,11362,961227,129408,24,5392,1,626019,67,67,monthly issuance,951014,none,Bruntal,north Moravia,106054,38,25,6,2,6,63.1,8110,5.77,6.55,109,3244,3079,951014,961210,14.6,24212.0,4550.302804,6256.783523,4780.0,1000.0,56055.6,30869.781308,11709.142375,24199.5,29,78,16,0,38,40,0,13

In [272]:
district

,code,name,region,no. of inhabitants,no. of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate '95,unemploymant rate '96,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes '95,no. of commited crimes '96
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590

In [201]:
card[card['disp_id']==2166]

Empty DataFrame
Columns: [card_id, disp_id, card_type, issued]
Index: []

In [204]:
merge4[merge4['card_type']=='classic']

,loan_id,account_id,date_x,amount,duration,payments,status,client_id,birth_number,district_id_x,disp_id,disp_type,district_id_y,frequency,date_y,card_id,card_type
40,6577,7753,940311,51696,24,2154,1.0,9593,685128,74,9285,OWNER,74,monthly issuance,930208,1005.0,classic
106,5595,3050,940902,82896,12,6908,1.0,3687,720206,49,3687,OWNER,60,monthly issuance,930508,577.0,classic
245,7243,11042,951204,217152,36,6032,1.0,13576,740707,72,13268,OWNER,72,monthly issuance,950129,1225.0,classic
295,6550,7614,960518,320592,48,6679,1.0,9427,706109,62,9119,OWNER,62,monthly issuance,950208,989.0,classic
306,5311,1766,960615,30060,60,501,1.0,2141,510906,28,2141,OWNER,28,monthly issuance,940903,337.0,classic
321,6992,9790,960727,133968,48,2791,1.0,12050,430530,52,11742,OWNER,52,monthly issuance,951109,1134.0,classic
333,7305,11359,960806,54024,12,4502,1.0,13968,680413,61,13660,OWNER,61,monthly issuance,941001,1247.0,classic
337,5088,544,960822,91152,24,3798,1.0,655,421210,32,655,OWNER,32,monthly issuance,950515,119.0,classic
438,6938,9504,970310,341280,60,5688,NaN,11701,490414,9,11393,OWNER,9,monthly issuance,960129,1118.0,classic
488,7119,10361,970602,86880,12,7240,NaN,12750,405525,21,12442,OWNER,21,monthly issuance,960621,1173.0,classic
531,5377,2116,970804,92400,12,7700,NaN,2560,745620,70,2560,OWNER,70,monthly issuance,960502,408.0,classic
536,7001,9859,970810,300600,60,5010,NaN,12133,645626,27,11825,OWNER,27,monthly issuance,960708,1138.0,classic
580,6118,5477,971004,349392,48,7279,NaN,6610,540603,57,6610,OWNER,57,monthly issuance,951217,847.0,classic
590,6607,7894,971021,153144,36,4254,NaN,9760,690217,27,9452,OWNER,27,monthly issuance,960409,1014.0,classic
606,5103,666,971128,12540,12,1045,NaN,798,405212,27,798,OWNER,27,monthly issuance,960315,140.0,classic
635,6254,6157,971228,247920,48,5165,NaN,7434,425404,34,7434,OWNER,34,monthly issuance,961111,891.0,classic
652,5260,1480,980119,123300,36,3425,NaN,1793,455317,41,1793,OWNER,41,weekly issuance,960703,280.0,classic
656,7139,10445,980122,23412,12,1951,NaN,12850,550826,72,12542,OWNER,72,monthly issuance,960529,1178.0,classic
667,5332,1869,980129,37944,36,1054,NaN,2267,665410,1,2267,OWNER,1,monthly issuance,960614,355.0,classic
703,6464,7156,980416,49488,24,2062,NaN,8636,416112,71,8636,OWNER,71,monthly issuance,970911,965.0,classic
738,5435,2279,980601,314688,48,6556,NaN,2759,740126,2,2759,OWNER,2,weekly issuance,961030,436.0,classic
767,5015,226,980712,109344,12,9112,NaN,272,446025,70,272,OWNER,70,monthly issuance,970223,45.0,classic
803,6321,6505,981008,38496,12,3208,NaN,7855,645130,7,7855,OWNER,7,monthly issuance,970913,923.0,classic
811,5526,2725,981108,69624,36,1934,NaN,3291,470123,52,3291,OWNER,52,monthly issuance,970402,517.0,classic
818,5644,3293,981127,276084,36,7669,NaN,3984,645313,1,3984,OWNER,1,monthly issuance,970808,623.0,classic
820,5428,2262,981202,230220,36,6395,NaN,2739,500126,13,2739,OWNER,13,monthly issuance,970208,434.0,classic
821,5027,276,981202,160920,36,4470,NaN,333,711019,38,333,OWNER,38,monthly issuance,971208,53.0,classic
822,4989,105,981205,352704,48,7348,NaN,127,506227,21,127,OWNER,21,monthly issuance,970710,17.0,classic

In [207]:
card[card['card_id']==17]

    card_id  disp_id card_type  issued
21       17      127   classic  980607

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-158-8140e5144396>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  530812[1]

TypeError: 'int' object is not subscriptable

In [ ]:
def db():
    CSV_files = {'account': account, 'card': card_train, 'client': client, 'disp': disp, 'disctrict': district, 'loan': loan_train, 'trans': trans_train}
    conn = sqlite3.connect('database.db')
    # Correr sÃ³ uma vez
    if not os.path.exists('./database.db'):
        for f in CSV_files:
            CSV_files[f].to_sql(f, conn)
    query = """
        SELECT loan_id, loan.account_id, status
        FROM loan, account
        WHERE loan.account_id == account.account_id
        """
         
    pd.read_sql_query(query, conn)
    
def getCorr(df, size=(11,9)):
    corr = df.corr()
    ax = plt.subplots(figsize=size)
    ax = sns.heatmap(corr,  annot = True, linewidths=.1, mask = np.triu(corr), cmap='coolwarm')

    def checkUniqueCategoricalVars():
    for f in CSV_files:
        print("{}:\n {}\n\n".format(f, CSV_files[f].select_dtypes(include=['object']).nunique()))