In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from sqlalchemy import create_engine
import sqlite3

In [27]:
from os import walk, path
dic_csv = {}
        
for root,d_names,f_names in walk("./data/"):
    for f in f_names:
        filename = f.rsplit('.', 1)[0]
        dic_csv[path.join(root, f)] = ('processed_' + filename) if ('processed' in root) else filename

In [28]:
dic_csv

{'./data/client.csv': 'client',
 './data/account.csv': 'account',
 './data/trans_train.csv': 'trans_train',
 './data/trans_test.csv': 'trans_test',
 './data/loan_test.csv': 'loan_test',
 './data/disp.csv': 'disp',
 './data/district.csv': 'district',
 './data/card_test.csv': 'card_test',
 './data/loan_train.csv': 'loan_train',
 './data/card_train.csv': 'card_train',
 './data/processed/client.csv': 'processed_client',
 './data/processed/account.csv': 'processed_account',
 './data/processed/loans_train_merge.csv': 'processed_loans_train_merge',
 './data/processed/trans_train.csv': 'processed_trans_train',
 './data/processed/trans_test.csv': 'processed_trans_test',
 './data/processed/loan_test.csv': 'processed_loan_test',
 './data/processed/loan_train.csv': 'processed_loan_train',
 './data/processed/loans_test_merge.csv': 'processed_loans_test_merge'}

In [48]:
def make_df(dic):
    for key in dic:
        globals()[dic[key]] = pd.read_csv(key, delimiter=";")

In [49]:
make_df(dic_csv)

/usr/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3337: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [53]:
account

      account_id  district_id         frequency    date
0            576           55  monthly issuance  930101
1           3818           74  monthly issuance  930101
2            704           55  monthly issuance  930101
3           2378           16  monthly issuance  930101
4           2632           24  monthly issuance  930102
...          ...          ...               ...     ...
4495         124           55  monthly issuance  971228
4496        3958           59  monthly issuance  971228
4497         777           30  monthly issuance  971228
4498        1573           63  monthly issuance  971229
4499        3276            1  monthly issuance  971229

[4500 rows x 4 columns]

In [ ]:
account = pd.read_csv('data/account.csv', delimiter=";")
card_test = pd.read_csv('data/card_test.csv', delimiter=";")
card_train = pd.read_csv('data/card_train.csv', delimiter=";")
client = pd.read_csv('data/client.csv', delimiter=";")
disp = pd.read_csv('data/disp.csv', delimiter=";")
district = pd.read_csv('data/district.csv', delimiter=";")
loan_test = pd.read_csv('data/loan_test.csv', delimiter=";")
loan_train = pd.read_csv('data/loan_train.csv', delimiter=";")
trans_test = pd.read_csv('data/trans_test.csv', delimiter=";")
trans_train = pd.read_csv('data/trans_train.csv', delimiter=";")

In [ ]:
CSV_files = {'account': account, 'card': card_train, 'client': client, 'disp': disp, 'disctrict': district, 'loan': loan_train, 'trans': trans_train}
conn = sqlite3.connect('database.db')

In [ ]:
def getCorr(df, size=(11,9)):
    corr = df.corr()
    ax = plt.subplots(figsize=size)
    ax = sns.heatmap(corr,  annot = True, linewidths=.1, mask = np.triu(corr), cmap='coolwarm')

In [ ]:
def checkUniqueCategoricalVars():
    for f in CSV_files:
        print("{}:\n {}\n\n".format(f, CSV_files[f].select_dtypes(include=['object']).nunique()))

In [ ]:
# Correr só uma vez
for f in CSV_files:
    CSV_files[f].to_sql(f, conn)

In [ ]:
query = """
        SELECT loan_id, loan.account_id, status
        FROM loan, account
        WHERE loan.account_id == account.account_id
        """
         
pd.read_sql_query(query, conn)

In [ ]:
query = """
        SELECT *
        FROM account
        """
         
pd.read_sql_query(query, conn)