In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from sqlalchemy import create_engine
import sqlite3

In [2]:
from os import walk, path
dic_csv = {}
        
for root,d_names,f_names in walk("./data/"):
    for f in f_names:
        filename = f.rsplit('.', 1)[0]
        dic_csv[path.join(root, f)] = ('processed_' + filename) if ('processed' in root) else filename

In [4]:
def make_df(dic):
    for key in dic:
        globals()[dic[key]] = pd.read_csv(key, delimiter=";")
make_df(dic_csv)

/usr/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3337: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [16]:
def separate(df, column):
    list = df[column].unique().tolist()
    dic = {}
    for l in list:
        dic[l] = df[df[column]==l]
    return dic

In [31]:
def concat_train_test(dic):

     loan_id  account_id    date  amount  duration  payments  status
0       5314        1787  930705   96396        12      8033    -1.0
1       5316        1801  930711  165960        36      4610     1.0
2       6863        9188  930728  127080        60      2118     1.0
3       5325        1843  930803  105804        36      2939     1.0
4       7240       11013  930906  274740        60      4579     1.0
..       ...         ...     ...     ...       ...       ...     ...
349     4989         105  981205  352704        48      7348     NaN
350     5221        1284  981205   52512        12      4376     NaN
351     6402        6922  981206  139488        24      5812     NaN
352     5346        1928  981206   55632        24      2318     NaN
353     6748        8645  981208  240900        60      4015     NaN

[682 rows x 7 columns]

In [42]:
l = list(dic_csv.values())
#dd = [l for l in [ 'account' in dl dl for d]]
dd = ['account' in d for d in l]
dd

[False, True, False, False, False, False, False, False, False, False]

In [43]:
l

['client',
 'account',
 'trans_train',
 'trans_test',
 'loan_test',
 'disp',
 'district',
 'card_test',
 'loan_train',
 'card_train']

In [ ]:
def db():
    CSV_files = {'account': account, 'card': card_train, 'client': client, 'disp': disp, 'disctrict': district, 'loan': loan_train, 'trans': trans_train}
    conn = sqlite3.connect('database.db')
    # Correr só uma vez
    if not os.path.exists('./database.db'):
        for f in CSV_files:
            CSV_files[f].to_sql(f, conn)
    query = """
        SELECT loan_id, loan.account_id, status
        FROM loan, account
        WHERE loan.account_id == account.account_id
        """
         
    pd.read_sql_query(query, conn)
    
def getCorr(df, size=(11,9)):
    corr = df.corr()
    ax = plt.subplots(figsize=size)
    ax = sns.heatmap(corr,  annot = True, linewidths=.1, mask = np.triu(corr), cmap='coolwarm')

    def checkUniqueCategoricalVars():
    for f in CSV_files:
        print("{}:\n {}\n\n".format(f, CSV_files[f].select_dtypes(include=['object']).nunique()))