In [1]:
from Preprocess import *
from Model import *
from DataAnalysis import *

In [2]:
dic_csv = read_data()
df_var = make_dataframe(dic_csv)

In [3]:
concat_train_test(dic_csv, df_var)
loans = Merge(df_var, haveCategorical=True)

In [4]:
loans

,loan_id,account_id,loan_date,amount,duration,payments,status,birth_number,client_district,account_district,frequency,account_date,card_type,name,region,no. of inhabitants,no. of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate '95,unemploymant rate '96,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes '95,no. of commited crimes '96,trans_date_min,trans_date_max,trans_amount_min,trans_amount_max,trans_amount_mean,trans_amount_std,trans_amount_last,trans_balance_min,trans_balance_max,trans_balance_mean,trans_balance_std,trans_balance_last,trans_type_n_credit,trans_type_n_withdrawal,operation_n_credit_cash,operation_n_collection_from_another_bank,operation_n_withdrawal_in_cash,operation_n_remittance_to_another_bank,operation_n_credit_card_withdrawal,operation_n_interest_credited
0,4959,2,1994-01-05,80952,24,3373,Successful,1945-02-04,1,1,monthly issuance,1993-02-26,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,1993-02-26,1993-12-31,13.5,30354.0,7954.257407,8793.271132,138.3,1100.0,67529.6,32590.624074,12061.705682,27855.2,22,32,2,10,27,5,0,10
1,4961,19,1996-04-29,30276,12,2523,Unsuccessful,1939-04-23,21,21,monthly issuance,1995-04-07,none,Tabor,south Bohemia,103347,87,16,7,1,7,67.0,9104,1.51,2.07,123,2299,2354,1995-04-07,1996-04-10,14.6,22708.0,5856.300000,7074.892542,15139.0,715.0,58157.5,25197.092500,15039.248405,15854.0,46,34,9,13,34,0,0,24
2,4962,25,1997-12-08,30276,12,2523,none,1962-02-09,68,68,monthly issuance,1996-07-28,none,Frydek - Mistek,north Moravia,228848,15,40,18,2,6,57.2,9893,4.09,4.72,96,5623,5887,1996-07-28,1997-12-06,14.6,62900.0,12113.931098,15599.421240,1110.0,900.0,119652.7,62991.264634,22476.347980,31621.9,51,113,36,0,70,43,0,15
3,4967,37,1998-10-14,318480,60,5308,none,1952-08-26,20,20,monthly issuance,1997-08-18,none,Strakonice,south Bohemia,70646,94,14,3,1,4,58.4,8547,2.65,3.64,120,1563,1542,1997-08-18,1998-10-12,0.4,47785.0,7571.999138,11817.618787,11200.0,-1011.2,104761.5,39953.970690,23451.647180,16367.8,32,84,18,0,48,36,0,14
4,4968,38,1998-04-19,110736,48,2307,none,1940-01-30,19,19,weekly issuance,1997-08-08,none,Prachatice,south Bohemia,51428,50,11,3,1,4,52.7,8402,3.13,3.98,120,999,1099,1997-08-08,1998-04-10,30.0,20762.0,4716.194545,5740.517996,231.0,13841.0,55991.1,31383.449091,10950.811533,37416.7,23,32,6,9,19,13,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,7294,11327,1998-09-27,39168,24,1632,none,1979-02-22,7,7,monthly issuance,1997-10-15,none,Melnik,central Bohemia,94725,38,28,1,3,6,63.4,9920,2.26,2.87,130,4289,4846,1997-10-15,1998-09-13,14.6,30462.0,7977.972222,9278.303148,20308.0,300.0,81495.6,55438.851852,14622.737828,62119.2,23,31,13,0,25,6,0,10
678,7295,11328,1998-07-18,280440,60,4674,none,1952-09-09,54,54,monthly issuance,1996-11-05,none,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696,1996-11-05,1998-07-09,14.6,61000.0,8138.691509,10870.484261,10921.0,1000.0,102466.2,38619.102830,17484.955759,31303.2,47,59,28,0,59,0,0,19
679,7304,11349,1995-10-29,419880,60,6998,Successful,1945-10-30,1,1,weekly issuance,1995-05-26,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,1995-05-26,1995-10-23,39.0,64800.0,24426.472222,22749.020565,300.0,200.0,104039.9,59352.833333,27879.396857,24704.4,11,7,2,5,6,1,0,4
680,7305,11359,1996-08-06,54024,12,4502,Successful,1968-04-13,61,61,monthly issuance,1994-10-01,classic,Trebic,south Moravia,117897,139,28,5,1,6,53.8,8814,4.76,5.74,107,2112,2059,1994-10-01,1996-07-31,14.6,40521.0,8708.722449,10938.351222,109.6,1000.0,81705.8,36480.185034,15469.988113,25697.2,45,102,1,22,66,34,2,22
681,7308,11362,1996-12-27,129408,24,5392,Successful,1962-10-19,67,67,monthly issuance,1995-10-14,none,Bruntal,north Moravia,106054,38,25,6,2,6,63.1,8110,5.77,6.55,109,3244,3079,1995-10-14,1996-12-10,14.6,24212.0,4550.302804,6256.783523,4780.0,1000.0,56055.6,30869.781308,11709.142375,24199.5,29,78,16,0,38,40,0,13

In [27]:
l = loan_per_year(loans)

[1994 1996 1997 1998 1995 1993]

,loan_id,account_id,loan_date,amount,duration,payments,status,birth_number,client_district,account_district,frequency,account_date,card_type,name,region,no. of inhabitants,no. of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate '95,unemploymant rate '96,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes '95,no. of commited crimes '96,trans_date_min,trans_date_max,trans_amount_min,trans_amount_max,trans_amount_mean,trans_amount_std,trans_amount_last,trans_balance_min,trans_balance_max,trans_balance_mean,trans_balance_std,trans_balance_last,trans_type_n_credit,trans_type_n_withdrawal,operation_n_credit_cash,operation_n_collection_from_another_bank,operation_n_withdrawal_in_cash,operation_n_remittance_to_another_bank,operation_n_credit_card_withdrawal,operation_n_interest_credited
23,5045,347,1995-05-01,187224,24,7801,Unsuccessful,1947-10-08,1,65,monthly issuance,1993-12-13,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,1993-12-13,1995-04-30,0.2,51900.0,10834.715909,13396.172197,14.6,-243.3,92571.3,42084.311364,22038.481589,50832.1,38,50,21,0,50,0,0,17
37,5125,789,1995-11-23,73056,48,1522,Successful,1970-12-18,39,39,monthly issuance,1995-02-06,none,Most,north Bohemia,119895,17,4,3,2,4,89.9,10446,7.34,9.40,90,4947,4743,1995-02-06,1995-11-12,14.6,8538.0,2445.327451,2463.769143,5692.0,500.0,33555.4,23255.149020,6550.595430,21545.7,23,28,14,0,18,10,0,9
41,5131,816,1995-01-08,48624,24,2026,Successful,1961-09-30,40,52,monthly issuance,1993-08-05,none,Teplice,north Bohemia,128118,9,16,6,3,8,85.3,9317,6.49,7.07,97,6949,6872,1993-08-05,1995-01-07,14.6,52900.0,12180.788034,13769.747927,4514.0,200.0,134187.4,63857.236752,25825.858182,47993.6,49,68,32,0,56,12,0,17
42,5132,817,1995-02-17,538500,60,8975,Successful,1960-06-28,5,5,monthly issuance,1994-03-18,none,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040,1994-03-18,1995-02-14,14.6,32082.0,8499.934483,9031.132406,4605.0,200.0,69775.9,33687.858621,13408.020365,23271.0,22,36,12,0,29,7,0,10
45,5138,854,1995-05-30,87216,48,1817,Successful,1954-03-16,1,62,monthly issuance,1993-09-21,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,1993-09-21,1995-05-14,14.6,15608.0,2960.697973,3810.416367,2400.0,700.0,43787.3,30847.149324,6554.760513,29638.3,41,107,22,0,60,47,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,7176,10663,1995-10-28,260028,36,7223,Successful,1976-11-25,11,11,monthly issuance,1993-12-08,none,Praha - zapad,central Bohemia,75637,35,36,9,0,7,36.5,9622,0.45,0.59,154,3475,3529,1993-12-08,1995-10-14,14.6,65008.0,12514.357143,15539.996466,4782.0,200.0,124900.7,50676.819876,20993.628045,69850.9,47,114,4,22,79,35,0,21
654,7227,10942,1995-10-02,314520,60,5242,Successful,1955-11-18,44,44,weekly issuance,1994-06-05,none,Chrudim,east Bohemia,105606,77,26,7,2,7,53.0,8254,2.79,3.76,97,2166,2325,1994-06-05,1995-09-30,30.0,56700.0,15168.362308,15591.936909,309.5,500.0,128119.4,63527.420000,28698.379826,50517.0,56,74,40,0,62,12,0,16
659,7241,11021,1995-03-04,168984,24,7041,Unsuccessful,1976-03-18,1,1,monthly issuance,1993-08-10,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,1993-08-10,1995-03-03,2.5,55200.0,11357.386875,14217.840423,14200.0,-517.7,120806.4,56053.997500,28355.360158,24304.3,74,86,36,0,86,0,0,38
661,7243,11042,1995-12-04,217152,36,6032,Successful,1974-07-07,72,72,monthly issuance,1995-01-29,classic,Olomouc,north Moravia,226122,32,50,7,4,4,62.6,8994,3.80,4.79,110,9672,9208,1995-01-29,1995-11-30,4.4,54286.0,12666.782456,14230.107374,226.2,400.0,109774.3,49107.066667,18394.513785,42293.9,21,36,1,10,30,6,0,10
679,7304,11349,1995-10-29,419880,60,6998,Successful,1945-10-30,1,1,weekly issuance,1995-05-26,none,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,1995-05-26,1995-10-23,39.0,64800.0,24426.472222,22749.020565,300.0,200.0,104039.9,59352.833333,27879.396857,24704.4,11,7,2,5,6,1,0,4