In [3]:
from Preprocess import *
from Model import *
from FeatureEng import *

ModuleNotFoundError: No module named &#39;numpuy&#39;

# Account
- account_id
- district_id
- date
- frequency

# Client
- client_id
- birth_number
- district_id

# Disposition
- disp_id
- client_id
- account_id
- type

# Loan
- loan_id
- account_id
- date
- amount
- duration
- payments
- status

# Transition
- trans_id
- account_id
- date
- type
- operation
- amount_balance
- k_symbol
- bank
- account

In [ ]:
dic_csv = read_data()
df_var = make_dataframe(dic_csv)

In [5]:
df_var

{&#39;client&#39;:       client_id  birth_number  district_id
 0             1        706213           18
 1             2        450204            1
 2             3        406009            1
 3             4        561201            5
 4             5        605703            5
 ...         ...           ...          ...
 5364      13955        456030            1
 5365      13956        430406            1
 5366      13968        680413           61
 5367      13971        626019           67
 5368      13998        535812           74

 [5369 rows x 3 columns],
 &#39;account&#39;:       account_id  district_id         frequency    date
 0            576           55  monthly issuance  930101
 1           3818           74  monthly issuance  930101
 2            704           55  monthly issuance  930101
 3           2378           16  monthly issuance  930101
 4           2632           24  monthly issuance  930102
 ...          ...          ...               ...     ...
 4495         124           55  monthly issuance  971228
 4496        3958           59  monthly issuance  971228
 4497         777           30  monthly issuance  971228
 4498        1573           63  monthly issuance  971229
 4499        3276            1  monthly issuance  971229

 [4500 rows x 4 columns],
 &#39;trans_train&#39;:         trans_id  account_id    date        type  \
 0        1548749        5270  930113      credit
 1        1548750        5270  930114      credit
 2        3393738       11265  930114      credit
 3        3122924       10364  930117      credit
 4        1121963        3834  930119      credit
 ...          ...         ...     ...         ...
 396680    515914        1763  961231  withdrawal
 396681    516262        1765  961231  withdrawal
 396682    520019        1775  961231  withdrawal
 396683    517894        1769  961231  withdrawal
 396684    518239        1770  961231  withdrawal

                            operation   amount  balance               k_symbol  \
 0                     credit in cash    800.0    800.0                    NaN
 1       collection from another bank  44749.0  45549.0                    NaN
 2                     credit in cash   1000.0   1000.0                    NaN
 3                     credit in cash   1100.0   1100.0                    NaN
 4                     credit in cash    700.0    700.0                    NaN
 ...                              ...      ...      ...                    ...
 396680            withdrawal in cash     14.6  67769.5  payment for statement
 396681            withdrawal in cash     14.6  19708.1  payment for statement
 396682            withdrawal in cash     14.6  15944.5  payment for statement
 396683            withdrawal in cash     14.6  34679.4  payment for statement
 396684            withdrawal in cash     14.6  68162.9  payment for statement

        bank     account
 0       NaN         NaN
 1        IJ  80269753.0
 2       NaN         NaN
 3       NaN         NaN
 4       NaN         NaN
 ...     ...         ...
 396680  NaN         NaN
 396681  NaN         NaN
 396682  NaN         NaN
 396683  NaN         NaN
 396684  NaN         NaN

 [396685 rows x 10 columns],
 &#39;trans_test&#39;:        trans_id  account_id    date                type           operation  \
 0          6145          25  960728              credit      credit in cash
 1          6456          25  960827              credit      credit in cash
 2          6150          25  960903              credit      credit in cash
 3          6171          25  960905              credit      credit in cash
 4          6457          25  960906          withdrawal  withdrawal in cash
 ...         ...         ...     ...                 ...                 ...
 30195   3412692       11328  980630  withdrawal in cash  withdrawal in cash
 30196   3412768       11328  980630          withdrawal  withdrawal in cash
 30197   3529532       11328  980630              credit                 NaN
 30198   3412694       11328  980703  withdrawal in cash  withdrawal in cash
 30199   3412636       11328  980709              credit      credit in cash

         amount  balance               k_symbol bank  account
 0        900.0    900.0                    NaN  NaN      NaN
 1      15800.0  16700.0                    NaN  NaN      NaN
 2      13067.0  29767.0                    NaN  NaN      NaN
 3      42054.0  71821.0                    NaN  NaN      NaN
 4      36000.0  77580.0                    NaN  NaN      NaN
 ...        ...      ...                    ...  ...      ...
 30195  11831.0  28779.8                    NaN  NaN      NaN
 30196     14.6  28765.2  payment for statement  NaN      NaN
 30197    188.7  40610.8      interest credited  NaN      NaN
 30198   8383.0  20382.2                    NaN  NaN      NaN
 30199  10921.0  31303.2                    NaN  NaN      NaN

 [30200 rows x 10 columns],
 &#39;loan_test&#39;:      loan_id  account_id    date  amount  duration  payments  status
 0       5895        4473  970103   93960        60      1566     NaN
 1       7122       10365  970104  260640        36      7240     NaN
 2       6173        5724  970108  232560        48      4845     NaN
 3       6142        5591  970121  221880        60      3698     NaN
 4       5358        2018  970121   38520        12      3210     NaN
 ..       ...         ...     ...     ...       ...       ...     ...
 349     4989         105  981205  352704        48      7348     NaN
 350     5221        1284  981205   52512        12      4376     NaN
 351     6402        6922  981206  139488        24      5812     NaN
 352     5346        1928  981206   55632        24      2318     NaN
 353     6748        8645  981208  240900        60      4015     NaN

 [354 rows x 7 columns],
 &#39;disp&#39;:       disp_id  client_id  account_id       type
 0           1          1           1      OWNER
 1           2          2           2      OWNER
 2           3          3           2  DISPONENT
 3           4          4           3      OWNER
 4           5          5           3  DISPONENT
 ...       ...        ...         ...        ...
 5364    13647      13955       11349      OWNER
 5365    13648      13956       11349  DISPONENT
 5366    13660      13968       11359      OWNER
 5367    13663      13971       11362      OWNER
 5368    13690      13998       11382      OWNER

 [5369 rows x 4 columns],
 &#39;district&#39;:     code             name           region  no. of inhabitants  \
 0      1      Hl.m. Praha           Prague             1204953
 1      2          Benesov  central Bohemia               88884
 2      3           Beroun  central Bohemia               75232
 3      4           Kladno  central Bohemia              149893
 4      5            Kolin  central Bohemia               95616
 ..   ...              ...              ...                 ...
 72    73            Opava    north Moravia              182027
 73    74  Ostrava - mesto    north Moravia              323870
 74    75           Prerov    north Moravia              138032
 75    76          Sumperk    north Moravia              127369
 76    77           Vsetin    north Moravia              148545

     no. of municipalities with inhabitants &lt; 499   \
 0                                               0
 1                                              80
 2                                              55
 3                                              63
 4                                              65
 ..                                            ...
 72                                             17
 73                                              0
 74                                             67
 75                                             31
 76                                              8

     no. of municipalities with inhabitants 500-1999  \
 0                                                 0
 1                                                26
 2                                                26
 3                                                29
 4                                                30
 ..                                              ...
 72                                               49
 73                                                0
 74                                               30
 75                                               32
 76                                               35

     no. of municipalities with inhabitants 2000-9999   \
 0                                                   0
 1                                                   6
 2                                                   4
 3                                                   6
 4                                                   4
 ..                                                ...
 72                                                 12
 73                                                  0
 74                                                  4
 75                                                 13
 76                                                 12

     no. of municipalities with inhabitants &gt;10000   no. of cities   \
 0                                                1               1
 1                                                2               5
 2                                                1               5
 3                                                2               6
 4                                                1               6
 ..                                             ...             ...
 72                                               2               7
 73                                               1               1
 74                                               2               5
 75                                               2               7
 76                                               3               4

     ratio of urban inhabitants   average salary  unemploymant rate &#39;95   \
 0                         100.0            12541                   0.29
 1                          46.7             8507                   1.67
 2                          41.7             8980                   1.95
 3                          67.4             9753                   4.64
 4                          51.4             9307                   3.85
 ..                          ...              ...                    ...
 72                         56.4             8746                   3.33
 73                        100.0            10673                   4.75
 74                         64.6             8819                   5.38
 75                         51.2             8369                   4.73
 76                         53.5             8909                   4.01

     unemploymant rate &#39;96   no. of enterpreneurs per 1000 inhabitants   \
 0                     0.43                                         167
 1                     1.85                                         132
 2                     2.21                                         111
 3                     5.05                                         109
 4                     4.43                                         118
 ..                     ...                                         ...
 72                    3.74                                          90
 73                    5.44                                         100
 74                    5.66                                          99
 75                    5.88                                         107
 76                    5.56                                         113

    no. of commited crimes &#39;95   no. of commited crimes &#39;96
 0                        85677                        99107
 1                         2159                         2674
 2                         2824                         2813
 3                         5244                         5892
 4                         2616                         3040
 ..                         ...                          ...
 72                        4355                         4433
 73                       18782                        18347
 74                        4063                         4505
 75                        3736                         2807
 76                        3460                         3590

 [77 rows x 16 columns],
 &#39;card_test&#39;:     card_id  disp_id     type  issued
 0       813     5873   junior  961028
 1      1014     9452  classic  961102
 2       408     2560  classic  961210
 3      1118    11393  classic  970102
 4       565     3601     gold  970106
 5      1173    12442  classic  970508
 6       847     6610  classic  970520
 7      1178    12542  classic  970619
 8       280     1793  classic  970622
 9      1138    11825  classic  970629
 10      511     3257   junior  970806
 11      140      798  classic  970822
 12      355     2267  classic  970828
 13     1115    11375   junior  971003
 14      436     2759  classic  971009
 15       45      272  classic  971205
 16      891     7434  classic  971223
 17      434     2739  classic  971230
 18      517     3291  classic  980109
 19      965     8636  classic  980402
 20     1194    12781   junior  980430
 21       17      127  classic  980607
 22      623     3984  classic  980725
 23      923     7855  classic  980924
 24       53      333  classic  981013,
 &#39;loan_train&#39;:      loan_id  account_id    date  amount  duration  payments  status
 0       5314        1787  930705   96396        12      8033      -1
 1       5316        1801  930711  165960        36      4610       1
 2       6863        9188  930728  127080        60      2118       1
 3       5325        1843  930803  105804        36      2939       1
 4       7240       11013  930906  274740        60      4579       1
 ..       ...         ...     ...     ...       ...       ...     ...
 323     6818        9030  961212  155616        48      3242       1
 324     5625        3189  961215  222180        60      3703      -1
 325     6805        8972  961221   45024        48       938       1
 326     7233       10963  961225  115812        36      3217       1
 327     7308       11362  961227  129408        24      5392       1

 [328 rows x 7 columns],
 &#39;card_train&#39;:      card_id  disp_id     type  issued
 0       1005     9285  classic  931107
 1        104      588  classic  940119
 2        747     4915  classic  940205
 3         70      439  classic  940208
 4        577     3687  classic  940215
 ..       ...      ...      ...     ...
 172      243     1478  classic  961213
 173      162      967   junior  961223
 174      594     3794   junior  961227
 175      609     3893  classic  961229
 176      786     5478  classic  961231

 [177 rows x 4 columns]}