In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

In [3]:
account = pd.read_csv('data/account.csv')
card_test = pd.read_csv('data/card_test.csv')
card_train = pd.read_csv('data/card_train.csv')
client = pd.read_csv('data/client.csv')
disp = pd.read_csv('data/disp.csv')
district = pd.read_csv('data/district.csv')
loan_test = pd.read_csv('data/loan_test.csv')
loan_train = pd.read_csv('data/loan_train.csv')
trans_test = pd.read_csv('data/trans_test.csv')
trans_train = pd.read_csv('data/trans_train.csv')

# Account
- accound_id
- district_id
- date
- frequency

# Client
- client_id
- birth_number
- district_id

# Disposition
- disp_id
- client_id
- account_id
- type

# Loan
- loan_id
- account_id
- date
- amount
- duration
- payments
- status

# Transition
- trans_id
- account_id
- date
- type
- operation
- amount_balance
- k_symbol
- bank
- account

In [16]:
trans_test

      trans_id;account_id;date;type;operation;amount;balance;k_symbol;bank;account
0      6145;25;960728;credit;credit in cash;900.00;90...
1      6456;25;960827;credit;credit in cash;15800.00;...
2      6150;25;960903;credit;credit in cash;13067.00;...
3      6171;25;960905;credit;credit in cash;42054.00;...
4      6457;25;960906;withdrawal;withdrawal in cash;3...
...                                                  ...
30195  3412692;11328;980630;withdrawal in cash;withdr...
30196  3412768;11328;980630;withdrawal;withdrawal in ...
30197  3529532;11328;980630;credit;;188.70;40610.80;i...
30198  3412694;11328;980703;withdrawal in cash;withdr...
30199  3412636;11328;980709;credit;credit in cash;109...

[30200 rows x 1 columns]

In [13]:
len(loan_train)

328